.a a {
  --background-primary: #1a1a1a;
  --text-bright: #fff;
  --bg-sub-accent-55: rgba(13, 185, 215, .55);
  /*text-shadow: -1px -1px 2px var(--background-primary), -1px 1px 2px var(--background-primary), 1px -1px 2px var(--background-primary), 1px 1px 2px var(--background-primary);
-webkit-text-fill-color: var(--text-bright);*/
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 5px;
  text-decoration: none;
  transition: all .35s ease;
  background-image: linear-gradient(to bottom, var(--bg-sub-accent-55) 0%, var(--bg-sub-accent-55) 100%);
}

.a a:hover {
  color: white;
  background-size: 5px 50px;
}
